
/* CSS Document */

/******************  Table of Contents  *****************************/

/*

1. GLOBAL STYLES
2. NAVIGATION BAR
3. CAROUSEL
4. UPCOMING EVENT
5. FEATURE BLOCK
6. EVENT LIST
7. CAROUSEL
8. LATEST BLOG
9. LATEST SERMONS
10. IMAGE GALLERY
11. BIBLE QUOTES
12. SUBSCRIBE
13. FOOTER
14. SUB PAGES
15. BLOG
16. SHORTCODES
17. CONTACT

*/

/*========== 1. GLOBAL STYLES ==============*/


body {
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	background:#FFF;
	font-weight:300;
	height: 100%;
	margin: 0;
	padding: 0;
	color:#384047;
}
a {
	color:#404C5D;
	text-decoration:none;
}
a:hover, a:focus {
	color:#E95D00;
	text-decoration:none;
}
.link-reverse {
	color:#E95D00;
}
.link-reverse:hover, .link-reverse:focus {
	color:#CA5100;
}
strong, b {
	font-weight:600;
}
p {
	line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight:700;
}
h1 {
	font-size:65px;
	line-height: 1;
	margin: 18px 0 45px;
	word-spacing:-5px;
}
h2 {
	font-size:60px;
	margin:15px 0;
	word-spacing:-3px;
}
h3 {
	font-size:45px;
	margin:15px 0;
	word-spacing:-3px;
}
h4 {
	font-size:20px;
	margin:10px 0;
}
h5 {
	font-size:18px;
	margin: 20px 0 13px;
	color: #384047;
}
h6 {
	font-size:16px;
	margin:10px 0;
	color: #384047;
}
 @media (max-width:767px) {
h1 {
font-size: 55px;
}
h2 {
font-size: 40px;
}
 h3 {
font-size: 25px;
}
}
.caret {
	margin-top: -3px;
    position: absolute;
    bottom: -4px;
    left: 42%;
}
.disabled {
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65;
}
.btn {
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight:700;
	text-transform:uppercase;
}
.btn-giant {
	padding: 18px 30px;
	font-size: 32px;
	line-height: 1.33;
	border-radius: 5px;
}
.btn-lg, .btn-group-lg>.btn {
	padding: 14px 25px;
	font-size: 17px;
	line-height: 1.3;
	border-radius: 4px;
}
.input-lg, .form-horizontal .form-group-lg .form-control {
	height: 52px;
	border-radius:3px;
}
.form-control {
	border-radius:3px;
}
.form-control:focus {
	border-color: #BBB4A7;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
	border-radius: 3px;
}
.btn-primary {
	color: #483f34;
	background-color: #EAD2AC;
	border-color: #e7ad47;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	color: #483f34;
	background-color: #fdbf51;
	border-color: #e7ad47;
}
.well {
	background:#f9f1e6;
	border:0;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.highlight-bg {
	background:#f9f1e6;
	padding: 24px 0;
}
.has-margin-top {
	margin-top:50px;
}
.has-margin-bottom {
	margin-bottom:50px;
}
.has-margin-xs-top {
	margin-top:10px;
}

.has-margin-xs-bottom {
	margin-bottom:30px;
}
.has-margin-xs-right {
	margin-right:20px;
}
.has-no-margin {
	margin:0;
}
.has-padding { 	padding:20px; }
.p_top_40{ 	padding-top:40px; }
.p_top_bottom_60{ 	  padding: 60px 0; }
.p_left_right_20{ 	  padding: 0 20px;  -webkit-transform: inherit;}
.m_bottom_50{ 	margin-bottom:50px; }
.m_bottom_40{ 	margin-bottom:40px; }
.m_bottom_20{ 	margin-bottom:20px; }
.m_bottom_30{ 	margin-bottom:30px; }
.m_bottom_15{ 	margin-bottom:15px !important; }
.m_top_25{ 	margin-top:25px; }
.m_top_50{ 	margin-top:50px; }
.m_top_20{ 	margin-top:20px; }
.has-padding-xs {
	padding:10px;
}
.has-padding-vertical {
	padding:20px 0;
}
.has-padding-bottom {
	padding-bottom:20px;
}
.has-padding-xs-vertical {
	padding:10px 0;
}
.has-padding-xs-bottom {
	padding-bottom:10px;
}
.has-padding-xs-top {
	padding-top:10px;
}
.has-border {
	border:1px solid #eadeda;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.has-border-bottom {
	border-bottom:1px solid #eadeda;
}
.section-title {
	text-align:center;
	color:#53504c;
	min-height: 40px;
	margin-bottom: 40px;
}
.section-title h4 {
	position:relative;
}

.section-title.left-align {
	text-align:left;
}
.section-title.left-align h4:after {
	left:0;
	margin-left:0;
}
.well .section-title {
	margin-bottom: 20px;
}

.badge {
color: #918677;
background-color: #E7E0D7;
}

@media (min-width:768px) {
.section-title.left-align-desktop {
	text-align:left;
}
.section-title.left-align-desktop h4:after {
	left:0;
	margin-left:0;
}
}

/*========== 2. NAVIGATION BAR ==============*/

@media (min-width:768px) {

.navbar-right .dropdown-menu {
  border: 0px  !important;
}
}

@media (max-width:768px) {


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  min-height: 100%;
  background: #FFF;

  
  }
.navbar-default .navbar-nav>.active>a:after {
    display: none;
}

}
 @media (min-width:992px) {
.navbar-header {
 max-width:280px;
}
}



.navbar-default {
	background-color: #FFF; /*IE Fix*/
	background-color: rgba(255, 255, 255, 0.7);
	border:0;
}
.navbar-default .navbar-nav>li>a {
	font-family: 'Montserrat', Arial, sans-serif;
	text-transform:uppercase;
	font-size: 13px;
}
/*On scroll Transition*/
.navbar-brand, .navbar-brand img, .navbar, .navbar-nav, .nav>li>a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.navbar-brand {
	height:85px;
}
.navbar-brand-off img {
	max-height:100%;
}
.navbar {
	min-height: 85px;
}
.navbar-nav {
	margin: 25px 0;
}
.nav>li>a {
	padding: 7px 13px;
}
.navbar-default .navbar-nav>li>a {
	color: #2c2c2a;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:active {
	color: #E95D00;
	background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	color: #E95D00;
	background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent !important;
    border-bottom-color: #333;
    border-bottom: 2px solid;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.navbar-default .navbar-toggle {
  margin-top: 23px;
  background-color: #73b79d;
  border-color: #73b79d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}


.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #EAD2AC; 
   -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-color: #EAD2AC;
}

.navbar-colored {background-color: #fff;}
.subpage-head.page-header {
    background: #73B79D;
}

.navbar-default .navbar-toggle {

    z-index: 99999;
}

/*== NAVBAR ON SCROLL ==*/


@media (min-width:992px) {
 .navbar-brand img {
 height: 60px;
}
 .navbar-default.shrink {
}
 .shrink .navbar-brand {
 height: 75px;
 
}
 .shrink .navbar-brand img {
 height: 45px;
 width: 193px;
}
 .navbar.shrink {
 min-height: 50px;
   top: 0px;
 height: 74px;
 margin-top:0;
}
 .shrink.navbar-default .navbar-nav {
 margin: 20px 0;
}
 .shrink .nav>li>a {
 padding: 7px 8px;
}
}
 @media (max-width:991px) {
 .navbar-brand {
 height: 70px;
}
 .navbar {
 min-height: 50px;
}
 .navbar-nav {
 margin: 17px 0;
}
 .nav>li>a {
padding: 7px 12px;
}
}
 @media (max-width:991px) {
.navbar-default {
background-color: rgba(255, 255, 255, 0.9);
height: auto !important;
}
 .navbar.shrink {
 min-height: 50px;
   top: 0px;
 height: 74px;
 margin-top:0;
}

}

@media (min-width: 768px) {
.navbar-right .dropdown-menu-left {
left: 18px;
}
.navbar-right .active .dropdown-menu-left {
left: 0;
}

}


/*========== 3. CAROUSEL ==============*/

/* Carousel base class */
.carousel {
	height: 650px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
	top:33%;
	bottom:0;
}
 @media (max-width:480px) {
.carousel-caption {
top: 25%;
}
}
/* Declare heights because of positioning of img element */
.carousel .item {
	height: 650px;
	background-color: #e2beae;
}
.carousel-control.left {
	background-image:none;
}
.carousel-control.right {
	background-image:none;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	top:55%;
}
.slide-one {
	background:url(../images/church-mountain-bg.jpg) no-repeat;
	background-size:cover;
}
.slide-two {
	background:url(../images/church-man-sea.jpg) no-repeat;
	background-size:cover;
}
.slide-three {
	background:url(../images/church-man-hope.jpg) no-repeat;
	background-size:cover;
}
/*========== 4. UPCOMING EVENT ==============*/

.event-cta {
	text-align:center;
}
.event-cta p {
	font-size:23px;
	margin:0;
	margin-bottom:10px;
	font-weight:700;
	color:#393939;
}
.event-cta span {
	color:#9f978c;
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight:700;
}
 @media (min-width:992px) {
 .event-cta {
 text-align:left;
}
.ec-txt {
 float:left;
}
 .event-cta p {
 margin-bottom:0;
}
.event-cta .btn {
 float:right;
}
}

.event-details .ed-title {
	display:block;
	text-transform:uppercase;
	font-size:12px;
	margin-bottom:5px;
}

.event-details .ed-content {
	line-height:2;	
	color: #53504c;
}


/*========== 5. FEATURE BLOCK ==============*/

@media (max-width:767px) {
.feature-block {
 text-align:center;
}
.feature-block .img-responsive {
 margin:0 auto;
}
}
 @media (max-width:991px) {
.center-this {
 text-align:center;
}
 .center-this .img-responsive {
 margin:0 auto;
}
}
/*========== 6. EVENT LIST ==============*/

.el-block {
	
}
.el-block h4 {

  font-size: 11px;
  letter-spacing: 0.2px;
  position:relative;
}
.el-block h4:after {
}
.el-head {
	color:#53504c;
	font-size:18px;
	margin:20px 0 5px;
}
.el-cta {
	margin:15px 0;
}

/*========== 7. CAROUSEL ==============*/


/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	/* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
	z-index: 1;
	margin-bottom: 10px;
}
.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	/* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-dot {
	cursor: pointer;
	cursor: hand;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.owl-carousel.owl-loaded {
	display: block;
}
.owl-carousel.owl-loading {
	opacity: 0;
	display: block;
}
.owl-carousel.owl-hidden {
	opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
	display: none;
}
.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: visible !important;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.owl-carousel .owl-item img {
	display: block;
	width: 100%;
	-webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}
.owl-carousel .owl-grab {
	cursor: move;
	cursor: -webkit-grab;
	cursor: -o-grab;
	cursor: -ms-grab;
	cursor: grab;
}
.owl-carousel.owl-rtl {
	direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
	float: right;
}
/* No Js */
.no-js .owl-carousel {
	display: block;
}
/*To move navigation buttons outside use these settings:*/
 
 .owl-theme .owl-controls {
	margin-top: 50px;
	text-align: left;
	-webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-controls .owl-nav {
	display: none;
}
 @media (min-width:1200px) {
 .owl-theme .owl-controls .owl-nav {
 display: block;
}
 .owl-theme .owl-controls .owl-nav div {
 position: absolute;
}
 .owl-theme .owl-controls .owl-nav .owl-prev {
 left: -30px;
 top: 55px;
 background-color: #FFF;            
 padding: 10px 15px;
}
 .owl-theme .owl-controls .owl-nav .owl-next {
 right: -31px;
 background-color: #fff;
 color: #fff !important;
 top: 55px;
 padding: 10px 15px;
}
}
.owl-theme .owl-controls .nav-arrow {
	width: 6px;
	height: 21px;
	background:url(../images/arrows.png) no-repeat;
	display:block;
}
.owl-theme .owl-controls .nav-arrow.left {
	background-position: 0 0;
}
.owl-theme .owl-controls .nav-arrow.right {
	background-position: 100% 0;
}
.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1;
 *display: inline
}
.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 10px;
	margin: 5px;
	background: #DDCBAB;
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: opacity 200ms ease;
	-moz-transition: opacity 200ms ease;
	-ms-transition: opacity 200ms ease;
	-o-transition: opacity 200ms ease;
	transition: opacity 200ms ease;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #AC7F62
}
/*========== 8. LATEST BLOG ==============*/


.media-heading {
	color: #53504c;
}
.media-content {
	margin-bottom:20px;
}
 @media (max-width:767px) {
.media-heading {
margin-top: 20px;
}
.bulletin {
 text-align:center;
}
}
/*========== 9. LATEST SERMONS ==============*/

.list-group {
	margin-bottom:0;
}
.list-group-item {
	background: url(../images/play.png) no-repeat 0 15px transparent;
	border:0;
	border-top:1px solid #e7e1df;
	padding-left:20px;
}
.list-group-item:first-child {
	border-top:0;
}
a.list-group-item-text {
	color: #9E9E9E;
}
a.list-group-item:hover, a.list-group-item:focus {
	background-color:transparent;
}
/*========== 10. IMAGE GALLERY ==============*/


.img-gallery .fancybox img {
	margin:0 auto;
	margin-bottom:30px;
}
/*========== 11. BIBLE QUOTES ==============*/

.blockquote-centered {
	color:#393939;
	border:0;
	line-height: 1.6;
	position:relative;
	cursor:hand;
}
.blockquote-centered ,.blockquote-centered small{
	color:#fff;

}
.owl-theme .owl-dots .owl-dot span {
    margin: 0 10px 0 0 !important;
}
.owl-carousel2.owl-theme .owl-dots {
    margin-left: 0px !important;
}
 @media (min-width:767px) {
.blockquote-centered {
	padding:0 0px;
    
	font-size: 13px;
    
    
}
}

.blockquote-centered small {
    padding: 30px 0 0;
    text-transform: uppercase;
    color: #EAD2AC;
    margin: 0;
	font-style: normal;
	font-size: 14px;
}
.blockquote-centered .t-company {
    font-size:12px;
	font-style: normal;
	color: #333
}

blockquote footer:before, blockquote small:before, blockquote .small:before {
    content: '';
}
/*========== 12. SUBSCRIBE ==============*/

.susbcribe-head {
	margin: 0;
	line-height:1.6;
	text-align:center;
	margin-bottom:20px;
}
.susbcribe-head span {
	color:#999085;
	font-weight:normal;
}
.ketchup-error {
	display:none!important;
}
 @media (min-width:767px) {
 .subscribe-form .form-group {
 margin-bottom:0;
}
 .susbcribe-head {
 margin: 0;
 text-align:left;
}
 .susbcribe-head span {
 display:block;
}
}
/*========== 13. FOOTER ==============*/

footer {
	background:#53504c;
	color:#f9f1e6;
	padding-top:5px;
}
footer h5 {
	color:#f9f1e6;
}
.footer-links {
	margin:0;
	padding:0;
	list-style:none;
}
.footer-links li {
	border-bottom:1px solid #666462;
	padding:5px;
}
footer p {
	color: #CCC0C0;	
}
footer a {
	color:#CCC0C0;
}
footer a:hover, footer a:focus {
	color: #FFB483;
}
.copyright {
	background:#494743;
	padding-top: 30px;
	padding-bottom: 20px;
	margin-top:35px;
}
.social-icons a {
	opacity:0.5;
}
.social-icons a:hover, .social-icons a:focus {
	opacity:0.8;
}

.social-top ul li{
	display: inline-block;
	list-style: none;
	margin-right: 15px;
}
.social-top ul li a .fa{font-size:17px;}
.social-top .form-group{margin-bottom:0;}
.social-heading{    margin-top: 16px;}
.social-container{      margin-top: 27px;     }
.form-group li {list-style:none; margin-top: 20px; margin-bottom : 0 !important;}
.info.list {margin:0;text-align: right;}
.info.list li {
    margin-bottom: 10px;
    font-size: 12px;
    display: inline-block;
}
.info.list li .fa {
    background-color: #73b79d ;
    color: #fff;
    padding: 4px;
    min-width: 20px;
    text-align: center;
    margin: 0 10px;
    border-radius: 3px;
}
/*========== 14. SUB PAGES ==============*/


.subpage-head {
	background-color:#f9f1e6;
	padding-top: 80px;
	padding-bottom: 20px;
}
.subpage-head h3 {
	color:#53504c;
	font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
 @media (min-width:992px) {
.subpage-head {
 padding-top: 110px;
}
}
/*========== 15. BLOG ==============*/

.pagination>li>a, .pagination>li>span {
	color:#483f34;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	color:#917E68;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #fdbf51;
	border-color: #e7ad47;
	color:#483f34;
}
.vertical-links li {
	border-bottom: 1px solid #E6DDD4;
	padding: 8px 0;
}
.tag-cloud a {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
	padding: 2px 8px;
	border: 1px solid #eceae4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #f8f7f3;
	font-size: 12px;
}
.comments-block > .media {
	border-bottom: 1px solid #eadeda;
	padding-bottom:20px;
	margin-bottom:20px;
}
.comments-block > .media .media {
	border-top: 1px solid #eadeda;
	padding-top:20px;
}
.media-object {
	width: 40px;
}
.comments-head {
	font-size:35px;
	color:#53504c;
	border-bottom: 1px solid #eadeda;
	margin:40px 0 20px;
	padding-bottom:10px;
}
/*========== 16. SHORTCODES ==============*/

.theme-showcase {
	margin-bottom:50px;
}
.theme-showcase h1 {
	font-size:35px;
	color:#53504c;
	margin-bottom:0;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	color: #483f34;
	background-color: #EAD2AC;
}
a.list-group-item.active>.badge, .nav-pills>.active>a>.badge {
	color: #483f34;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	background-color:transparent;
	color: #483f34;
}
.panel-primary {
	border-color: #DBBA80;
}
.panel-primary>.panel-heading {
	color: #483f34;
	background-color: #EAD2AC;
	border-color: #DBBA80;
}
.progress {
background-color: #73b79d ;
}
/*========== 17. CONTACT US ==============*/

.location-map {
	height:260px;
	background-color: #f9f1e6;
}
.location-map iframe {
	width:100%;
	height:260px;
	border:0;
}

/*========== 18. CHARITY DONATION ==============*/
.eventInner .charity-box {
    margin-bottom: 0px;
}
.charity-box {
	background:#73B79D;
	
	height: 100%;
}
.charity-box .charity-desc{color: #fff;    min-height: 130px;padding: 40px 15px 15px;}
.charity-box .charity-desc .pledged-amount{color: #fff;line-height: 32px;}
.charity-box .charity-desc .progress{margin-bottom:7px}
.charity-box .charity-desc .progress-bar{        line-height: 28px;
    background-color: #EAD2AC;}
.charity-box .charity-desc .progress {
    background-color: #73b79d ;
    border: 2px solid #404C5D;
    height: 32px;
}
.charity-image {
	width:100%;
	float:left;	
	margin-bottom:30px;
}

.charity-image img {
	min-width:100%;	
}

.charity-desc {
	position: relative;
	padding:15px;
}


.charity-box  .button-causes{
width: 100%;
  
    font-size: 14px;
    border-radius: 4px;
  
  
  }
.charity-box  .button-causes:after {
}
.charity-desc h3 {
	font-size:28px;
	color:#fff;
	margin:0 0 5px 0;	
}

.pledged-amount {
	font-size:40px;
	color:#53504c;
	margin: 0px 0 5px 0;
}

.pledged-amount.has-no-margin {
	margin:0 0 5px;
}

.donate-now {
	text-align:center;
	padding:10px 0;	
	width:100%;
	float:left;
}

@media (min-width:992px) {

.charity-image {
	width:420px;
	margin-bottom:0;
	margin-right:20px;
}

}

@media (min-width:768px) {

.donate-now {
	text-align:right;
	padding:0;
	float:right;	
	width:auto;
}

}

/*========== 19. EVENT CALENDAR ==============*/

.event-cal-wrap h2 {
	font-size:18px;	
	color:#2c2c2a;
}

.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-style-rounded-less {
    border-radius: 5px;
    border-radius: 0px 200px 200px 200px;
    -moz-border-radius: 0px 200px 200px 200px;
    -webkit-border-radius: 0px 200px 200px 200px;
}

.align-center { text-align:center;}
.align-left     { text-align:left;}
.align-right   { text-align:right;}
.uppercase       { text-transform: uppercase;}

.section-heading { 
	color: #7E8897;  
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 700;   
	margin-bottom: 15px;
	word-spacing: 3px;
    letter-spacing: 1px;
    position:relative;
	display: inline-block;
	line-height: 15px;
}
 

.section-heading:before {
    border-color: #73B79D;
    border-width: 7.5px;
    content: '';
    border-style: solid;
    left: -23px;
    border-radius: 333px;
    position: absolute;
    top: 0%;
}

.event-date-container {margin:4px 0;}
.event-date ,
.time {color: #73B79D;}
 
.section-slogan {
	max-width: 400px;
	margin: 0 auto; 
	color: #7E8897; 
	text-transform: none; 
	font-family: 'Montserrat', Arial, sans-serif; 
	font-weight: 400; 
	margin-bottom: 80px;
}

.custom-inner {
	background-color:#fff;
}
.custom-inner .content-inner{ padding:20px 30px;}

.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}